@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

@font-face {
  font-family: 'hanken';
  src: url('../src/public/fonts/hankenround-Regular.ttf');
}

* {
  font-family: 'hanken';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  float: top;
  display: fixed !important;
  top: 0 !important;
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.category {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.round {
  border-radius: 100%;
  box-shadow: 5px 6px 10px #848484;
}

.category-items {
  word-wrap: break-word;
  width: 70px;
  margin-right: 15px;
}

.default-color {
  color: brown;
}

.btn{
  background-color: brown !important;
}

.stocks {
  height: 150px;
  width: 150px;
  object-fit: cover;
  z-index: -1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.border-stock {
  border-radius: 10px;
  z-index: 9;
  margin-right: 10px;
}

.description{
  word-wrap: break-word !important;
  width: 150px;
  height: auto;
  padding: 10px;
}

.fade-in {
  animation: fadeIn ease-in 1s;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.carousel{
  height: auto;
  width: 70%;
  object-fit: cover;
  border-radius: 15px !important;
}

#infinite {
  overflow-y: auto;
  height: 100vh;
}

.floating-button{
  border-radius: 100%;
  position: fixed;
  box-shadow: 2px 3px 5px #848484;;
  bottom: 8vh;
  z-index: 10;
}